# key bindings
"\t": menu-complete
"\e[Z": menu-complete-backward

# variables
set bell-style none
set colored-completion-prefix on
set colored-stats on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
